.main {
    font-size: 0;
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.box {
    border: 1px solid black;
    display: inline-block;
}

.bottom-row {
    width: 33.333333%;
    height:300px;
}
.top-row {
    width:50%;
    height:200px;
}

.grey {
    background-color: grey;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.blue  {
    background-color: blue;
}
.black {
    background-color: black;
}
















